<h3>အချက်အလက်သွင်းရန်စာမျက်နှာငယ်</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        စာမျက်နှာတခုစီတွင် မရှိမဖြစ်ထည့်သွင်းရမည့် ကိန်းရှင်များထည့်ရန်နေရာများတွင် X, Y, Cov. နှင့် Control စသည်ဖြင့် ထည့်သွင်းပေးရန် လိုအပ်မည်ဖြစ်ပြီး
        ရလာဒ်အကျဉ်းချုပ်နှင့် ဂရပ်ပုံစသည့် ခလုတ်လေးများကိုလဲ စီစဉ်ထားပါသည်။ ကိန်းရှင်များကို ထည့်သွင်းရန် လိုအပ်သောနေရာများသို့  ထည့်သွင်းစဉ်းစးရမည့်
        အချက်အလက်ဆိုင်ရာ (Parameter) များအောက်ရှိ ကိန်းရှင်ခလုတ်လေးများကို ဖိဆွဲပြီးထည့်ပေးနိုင်ပါသည်။ ဤစာမျက်နှာငယ်တွင် ထည့်သွင်းပေးရမည့်
        အခက်အလက်များကို အောက်ပါ ဇယားတွင်း ရှင်းလင်းပြထားပါသည်။
        </p>

    </div>
</div>

<table class="table table-bordered">

<tr>
    <th class="text-center"><b>အညွှန်း</b></th>
    <th class="text-center"><b>အင်္ဂါရပ်ပုံစံများ</b></th>
    <th class="text-center"><b>အဓိပ္ပါယ်</b></th>
    <th class="text-center"><b>ရည်ရွယ်ချက်များ</b></th>
</tr>

<tr>
    <td>X</td>
    <td>အချက်အလက်ဆွဲ ထည့်ရန်နေရာ</td>
    <td>မီခိုကိန်းရှင်</td>
    <td>မီခိုကိန်းရှင် တခု သို့မဟုတ် တခုထက်မက လိုအပ်ကဲ့သို့ ဆွဲထည့်ရန်</td>
</tr>

<tr>
    <td>Y</td>
    <td>အချက်အလက်ဆွဲ ထည့်ရန်နေရာ</td>
    <td>အမီခိုခံ ကိန်းရှင်</td>
    <td>အမီခိုခံ ကိန်းရှင် တခု သို့မဟုတ် တခုထက်မက လိုအပ်ကဲ့သို့ ဆွဲထည့်ရန်</td>
</tr>

<tr>
    <td>Cov.</td>
    <td>အချက်အလက်ဆွဲ ထည့်ရန်နေရာ</td>
    <td>အခြားသက်ရောက် ကိန်းရှင်</td>
    <td>အခြားသက်ရောက်ကိန်းရှင် တခု သို့မဟုတ် တခုထက်မက လိုအပ်ကဲ့သို့ ဆွဲထည့်ရန်</td>
</tr>

<tr>
    <td>Control</td>
    <td>အချက်အလက်ဆွဲ ထည့်ရန်နေရာ</td>
    <td>ထိန်းချုပ်ကိန်းသေ</td>
    <td>ထိန်းချုပ်ကိန်းသေ တခု သို့မဟုတ် တခုထက်မက လိုအပ်ကဲ့သို့ ဆွဲထည့်ရန်</td>
</tr>

<tr>
    <td>Summary</td>
    <td>နှိပ်ကြည့်ရန် ခလုတ်</td>
    <td>ရလာဒ်အကျဉ်းချုပ်ပြဇယား</td>
    <td>အပ်သော ကိန်းများ ထည့်သွင်းပြီးနောက် အသုံးပြုသော စာရင်းအင်းတွက်ချက်နည်းအရ ရလာဒ်များကို အကျဉ်းချုပ်ဖော်ပြရန်</td>
</tr>

<tr>
    <td>Plots</td>
    <td>နှိပ်ကြည့်ရန် ခလုတ်</td>
    <td>ရလာဒ်ပြ ဂရပ်ပုံ</td>
    <td>အသုံးပြုသော စာရင်းအင်းတွက်ချက်နည်းအရ ရလာဒ်များကို ဂရပ်ပုံဖြင့် ပြရန်</td>
</tr>
</table>