<h3>Statistical Models</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        There are buttons of different main statistical methods. Under each button of statistical method,
        buttons of different specific statistical methods are hidden. When button of main statistical method
        is clicked, buttons of different specific statistical methods will drop. When a button of specific
        statistical method is clicked, a small window or browser will appear.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/stat_models.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 31. List of Statistical Models
        </p>

    </div>
</div>