<h3>ကိန်းရှင်များ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        တိုင်းတာခဲ့သော အချက်အလက် (၈)ခုကို ထောင်လိုက် ပြသထားပါသည်။ ပစ္စည်းကိရိယာနှင့် ရေစုပ်စက်များကို အမှတ်စဉ်များကို တိုင်းတာခဲ့သော အချက်အလက်တခုစီအောက်တွင် ဝှက်ထားပါသည်။
        တိုင်းတာခဲ့သော အချက်အလက် တခုကို နှိပ်လိုက်သောအခါ ၎င်း၏ ပစ္စည်းကိရိယာနှင့် ရေစုပ်စက်များ၏ ကိန်းရှင်များ စာရင်း ကျလာမည်ဖြစ်ပါသည်။ ပစ္စည်းကိရိယာ သို့မဟုတ် ရေစုပ်စက်များ တခုစီကို
        ဒေတာဘေ့စ်ထဲရှိ ဇယားတိုင်တခုစီဖြင့် ချိတ်ဆက်ထားပြီး မီခိုကိန်းရှင်များ၊ မမီခိုသော ကိန်းရှင်များ၊ ပူးပေါင်းသက်ရောက် ကိန်းရှင်များနှင့် ထိန်းချုပ်ကိန်းများကို စာရင်းအင်းပညာ နည်းလမ်းများအရ
        ထည့်သွင်းလိုသော ကိန်းရှင်များထည့်ရန် နေရာသို့ ဆွဲထည့်နိုင်ပါသည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/variable_options.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 29. ကိန်းရှင်များစာရင်း
        </p>

    </div>
</div>