<h3>စာရင်းအင်းတွက်ချက်ရန်နည်းလမ်းများ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        အများစုအသုံးပြုသော စာရင်းအင်းဆိုင်ရာတွက်ချက်ခြင်းနည်းလမ်းများကို ဖြော်ပြထားပါသည်။ စာရင်းအင်းဆိုင်ရာတွက်ချက်ခြင်းနည်းလမ်း ခလုတ်တခုကို နှိပ်လိုက်သောအခါ
        မတူညီသော အထူးစာရင်းအင်းဆိုင်ရာတွက်ချက်ခြင်းနည်းလမ်းများ ကျဆင်းလာမည်ဖြစ်ပါသည်။  အထူးစာရင်းအင်းဆိုင်ရာတွက်ချက်ခြင်းနည်းလမ်း ဆခုကို နှိပ်လိုက်သောအခါ စာမျက်နှာငယ်လေးတခု ပေါ်လာပါမည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/stat_models.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 31. စာရင်းအင်းတွက်ချက်ရန်နည်းလမ်းများ စာရင်း
        </p>

    </div>
</div>