<h3>ရလာဒ်အကျဉ်းချုပ်ဇယား</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        အသုံးပြုလိုက်သော အထူးစာရင်းအင်းဆိုင်ရာတွက်ချက်ခြင်းနည်းလမ်းအရ အဓိကအရေးပါသော ကိန်းဂဏန်းအချက်အလက်များ၏ ရလာဒ်များကို အကျဉ်းချုပ်ဖော်ပြထားသော
        ရလာဒ်အကျဉ်းချုပ်ဇယား ဖြစ်ပါသည်။ အချက်အလက်သွင်းရမည့် စာမျက်နှာငယ်ရှိ “အကျဉ်းချုပ်” ဟူသော ခလုတ်ကို နှိပ်လိုက်သောအခါ စာမျက်နှာကြီးတွင် လွှတ်နေသော
        အလယ်နေရာတွင် အကျဉ်းချုပ်ဖော်ပြထားသော ရလာဒ်အကျဉ်းချုပ်ဇယားငယ်လေး ပေါ်လာမည်ဖြစ်ပါသည်။
        </p>

    </div>
</div>