<h3>အဖြေရလဒ်ပြပုံများ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        အသုံးပြုလိုက်သော အထူးစာရင်းအင်းဆိုင်ရာတွက်ချက်ခြင်းနည်းလမ်းအရ အဓိကအရေးပါသော ကိန်းဂဏန်းအချက်အလက်များပါဝင်သည့် ဂရပ်များကို ရလာဒ်ပြဂရပ်ပုံများက ပြသပါသည်။
        အချက်အလက်များသွင်းရသော စာမျက်နှာရှိ “ဂရပ်ပုံများ” ဟူသော ခလုတ်ကို နှိပ်လိုက်သောအခါ စာမျက်နှာကြီးတွင် လွှတ်နေသော အလယ်နေရာတွင် အကျဉ်းချုပ်ဖော်ပြထားသော
        ရလာဒ်ပြ ဂရပ်ပုံများ ပေါ်လာမည်ဖြစ်ပါသည်။ ၎င်း ဂရပ်ပုံများကို ပုံထုတ်ခြင်း သို့မဟုတ် သိမ်းထားခြင်းများ ဆောင်ရွက်နိုင်သည်။
        </p>

    </div>
</div>