<h3>တိုင်းတာရေးပစ္စည်းကိရိယာများ</h3>

<p>
တိုင်းတာရေးပစ္စည်းကိရိယာများတွင် အောက်ဖော်ပြပါဇယားအတိုင်း အမျိုးမျိုးသော ပစ္စည်းကိရိယာများ ပါဝင်ပြီး အောက်ပါ အချက်အလက်များကို တိုင်းတာခဲ့ပါသည်။
</p>


<table class="table table-bordered">

<tr>
    <th class="text-center">ပစ္စည်းကိရိယာ</th>
    <th class="text-center">အချက်အလက်များ</th>
    <th class="text-center">ယူနစ်များ</th>
    <th class="text-center">တပ်ဆင်ထားသော ပစ္စည်းကိရိယာများ</th>
</tr>

<tr>
    <td>ရေဖိအားတိုင်းအာရုံခံကိရိယာ</td>
    <td>ရေဖိအား</td>
    <td>bar</td>
    <td>PT001 to PT011</td>
</tr>

<tr>
    <td>အပူခံအာရုံခံကိရိယာ (RTD)</td>
    <td>အပူချိန်</td>
    <td>°C</td>
    <td>TIT001 to TIT003, TT004</td>
</tr>

<tr>
    <td>ရေစီးနှုန်း</td>
    <td>ရေစီးနှုန်း</td>
    <td>m<sup>3</sup>/h</td>
    <td>FIT001 to FIT002, FT001 to FT002, FI001 to FI002</td>
</tr>

<tr>
    <td>pH မီတာ</td>
    <td>ချဉ်ငံဓာတ် (pH)</td>
    <td>pH001to pH003</td>
</tr>

<tr>
    <td>လျှပ်စီးဆင်းမှုတိုင်းကိရိယာ</td>
    <td>လျှပ်စီးဂုဏ်သတ္တိ</td>
    <td>mS/cm</td>
    <td>EC001 to EC003</td>
</tr>

<tr>
    <td>တာဗစ်ဒီမီတာ/နက်ဖလိုမီတာ</td>
    <td>အနည်ပါဝင်မှု</td>
    <td>NTU</td>
    <td>TUB001</td>
</tr>

<tr>
    <td>ဓာတ်တိုး-ဓာတ်လျော့တိုင်းကိရိယာ</td>
    <td>ဓာတ်တိုး-ဓာတ်လျော့ အလားအလာ</td>
    <td></td>
    <td>ORP001</td>
</tr>

<tr>
    <td></td>
    <td>စွမ်းအားနှင့် လုပ်ဆောင်မှုအခြေအနေ</td>
    <td>hp& ဖွင့်/ပိတ်/ချွတ်ယွင်း</td>
    <td>P001 to P005 in UF and P001 & P002 in RO System</td>
</tr>

</table>

