<h3>ပထမ အကျဉ်းချုပ်အခြေပြဇယား</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        "<b>ပထမ အကျဉ်းချုပ်အခြေပြဇယား</b>” ပစ္စည်းကိရိယာများ (သို့မဟုတ်) ရေစုပ်စက်များ၏ လက်ရှိအချိန်တွင် တိုင်းတာရရှိထားသော တန်ဖိုးနှင့် မိမိသိလိုသော
            အခြားနေ့ရက်၏ အချိန်တူတွင် တိုင်းတာရရှိခဲ့သော တန်ဖိုးတို့ကို နှိုင်းယှဉ်ဖော်ပြထားသည့် အကျဉ်းချုပ်အခြေပြဇယားဖြစ်သည် (Figure-6)။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/KVT_1_1.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 6. ကနဦး ပထမ အကျဉ်းချုပ်အခြေပြဇယား
        </p>

    </div>

</div>

<div class="row align-items-start">
<div class="col-md-8">

        <p>
        ပစ္စည်းကိရိယာများ သို့မဟုတ် ရေစုပ်စက်များအလိုက် တိုင်းထွာရရှိထားသော တန်ဖိုးများနှင့် စပ်လျဉ်းပြီး မိမိသိလိုသော ရက်နေ့ရှိ တန်ဖိုးများနှင့်
        ယနေ့ရှိ တန်ဖို့များ နှိုင်းယှဉ်လိုပါက “ပြက္ခဒိန်”တွင် မည်သည့်ရက်ကို ရွေးချယ်ရမည်။ “ပြက္ခဒိန်”တွင် တရက်ရက်ကို ရွေးချယ်လိုက်ပါက
        ဒုတိယ အတန်တခု အခြေပြဇယားတွင် ပေါ်လာသည်ကို တွေ့ရပါလိမ့်မည် (Figure-7)။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/KVT_1_2.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 7. ယနေ့နှင့် မိမိရွေးချယ်သောနေ့တို့၏ အချက်အလက်များကို နှိုင်းယှဉ်ပြ အကျဉ်းချုပ်အခြေပြဇယား
        </p>

    </div>

    </div>
<div class="row align-items-start">
    <div class="col-md-8">

        <p>
        In “<b>ပထမ အကျဉ်းချုပ်အခြေပြဇယား</b>”, ရှိ ကော်လံအမည်နှင့် တန်ဖိုးများ၏ အဓိပ္ပါယ်များမှာ အောက်ပါအတိုင်းဖြစ်သည်-
        </p>

    </div>
</div>


<table class="info-table">

<tr>
    <td class="label-col"><b>ယနေ့</b></td>
    <td>:</td>
    <td>အချက်အလက်များကို အချိန်နှင့်တပြေးညီ တိုင်းထွာနေသော လက်ရှိနေ့</td>
</tr>

<tr>
    <td class="label-col"><b>ယနေ့ နောက်ဆုံး</b></td>
    <td>:</td>
    <td>ပစ္စည်းကိရိယာ သို့မဟုတ် ရေစုပ်စက် တခုစီမှ အချက်အလက်များကို အချိန်နှင့်တပြေးညီ တိုင်းထွာလျက်ရှိရာ ယနေ့နောက်ဆုံး သို့မဟုတ် စစ်ဆေးနေချိန် လတ်တလော ရရှိသော တန်ဖိုးကိုဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ရွေးချယ်လိုက်သော နေ့ရှိ “နောက်ဆုံး” တန်ဖိုး</b></td>
    <td>:</td>
    <td>မိမိနှိုင်းယှဉ်ကြည့်လို့၍ ရွေးချယ် လိုက် သော နေ့တွင် ယနေ့တွင် မိမိစစ်ဆေးနေသည့် အချိန်အတိုင်း တိုင်းထွာရရှိခဲ့သော တန်ဖိုး
        (ဥပမာ- ယနေ့ မိမိ စစ်ဆေးသော အချိန်မှာ 09:20AM ဖြစ်ပြီး တိုင်းထွာရရှိသော တန်ဖိုးမှာ ၂.၇၅ ဖြစ်ပြီး မိမိနှိုင်းယှဉ်လိုသော နေ့ 2025/10/25 09:20AM တွင် တိုင်းထွာ ရရှိသော တန်ဖိုးမှာ 2.78 ဖြစ်သည်။
</td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>အကယ်၍ မိမိနှိုင်းယှဉ်လိုသော နေ့ 2025/10/25 09:20AM တွင် တိုင်းထွာ ခဲ့ခြင်း မရှိပါက တန်ဖိုးတွင် “ – “ အဖြစ်ပြနေပါလိမ့်မည်။</td>
</tr>

<tr>
    <td class="label-col"><b>မကြာသေးမီ</b></td>
    <td>:</td>
    <td>ပစ္စည်းကိရိယာ သို့မဟုတ် ရေစုပ်စက်များသည် အချက်အလက်များကို အချက်အလက်များကို ၅မိနစ်တကြိမ် တိုင်းထွာသောကြောင့် မကြာသေးမီက တန်ဖိုးဆိုသည်မှာ
        လွန်ခဲ့သော ၅ မိနစ်က တိုင်းထွာခဲ့သော တန်ဖိုးကို ဆိုလိုပါသည်။ ဥပမာ- ယခုသည် 09:15AM ဖြစ်နေပါက လွန်ခဲ့သော ၅မိနစ် 09:10AM တွင် တိုင်းထွာရရှိခဲ့သော တန်ဖိုးကို ဆိုလိုပါသည်။ </td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>အကယ်၍ မိမိနှိုင်းယှဉ်လိုသော နေ့ 2025/10/25 09:10 AM တွင် တိုင်းထွာ ခဲ့ခြင်း မရှိပါက တန်ဖိုးတွင် “ – “ အဖြစ်ပြနေပါလိမ့်မည်။</td>
</tr>

<tr>
    <td class="label-col"><b>မိနစ် ၃၀အတွင်း ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>မိမိစစ်ဆေးနေသည့် အချိန်မှ လွန်ခဲ့သော မိနစ် ၃၀ အတွင်း တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ယနေ့အတွက် မိနစ် ၃၀အတွင်း ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>Iမိမိစစ်ဆေးနေသည့် အချိန်မှာ 09:15 AM ဖြစ်ပါက လွန်ခဲ့သော မိနစ် ၃၀ အတွင်း (09:15 AM မှ 09:45 AM အထိ) တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ရွေးချယ်လိုက်သော နေ့အတွက် မိနစ် ၃၀အတွင်း ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>မိမိနှိုင်းယှဉ်ကြည့်လို့၍ ရွေးချယ် လိုက် သော နေ့တွင် ယနေ့တွင် မိမိစစ်ဆေးနေသည့် အချိန်အတိုင်း နောက်ဆုံးမိနစ် ၃၀ အတွင်း တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏
        ပျမ်းမျှတန်ဖို့ကို ဆိုလိုပါသည်။ (ဥပမာ- ယနေ့ မိမိ စစ်ဆေးသော အချိန်မှာ 09:15AM ဖြစ်ပြီး မိမိနှိုင်းယှဉ်လိုသော နေ့ 2025/10/25 ဖြစ်ပါက ယနေ့အချိန်နှင့်
        အလားတူ 2025/10/25 နေ့၏ 09:15 AM မှ 09:45 AM အထိ တိုင်းထွာရရှိသော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုး ကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>အကယ်၍ မိမိနှိုင်းယှဉ်လိုသော နေ့ 09:15 AM မှ 09:45 AM အထိ မိနစ် ၃၀အတွင်း တိုင်းထွာခဲ့ခြင်းမရှိပါက တန်ဖိုးတွင် “–“ အဖြစ်ပြနေပါလိမ့်မည်။</td>
</tr>

<tr>
    <td class="label-col"><b>၁နာရီအတွင်း ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>မိမိစစ်ဆေးနေသည့် အချိန်မှ လွန်ခဲ့သော ၁နာရီ အတွင်း တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ယနေ့အတွက် ၁နာရီအတွင်း ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>မိမိစစ်ဆေးနေသည့် အချိန်မှာ 09:15 AM ဖြစ်ပါက လွန်ခဲ့သော ၁နာရီအတွင်း (08:15 AM မှ 09: 15 AM အထိ) တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ရွေးချယ်လိုက်သော နေ့အတွက် ၁နာရီအတွင်း ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>မိမိနှိုင်းယှဉ်ကြည့်လို့၍ ရွေးချယ် လိုက် သော နေ့တွင် ယနေ့တွင် မိမိစစ်ဆေးနေသည့် အချိန်အတိုင်း ၁နာရီအတွင်း တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖို့ကို ဆိုလိုပါသည်။
        (ဥပမာ- ယနေ့ မိမိ စစ်ဆေးသော အချိန်မှာ 09:15AM ဖြစ်ပြီး မိမိနှိုင်းယှဉ်လိုသော နေ့ 2025/10/25 ဖြစ်ပါက ယနေ့အချိန်နှင့် အလားတူ 2025/10/25 နေ့၏
        08: 15 AM မှ 09: 15 AM အထိ ၁နာရီအတွင်း တိုင်းထွာရရှိသော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုး ကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>အကယ်၍ မိမိနှိုင်းယှဉ်လိုသော နေ့ 08: 15 AM မှ 09: 15 AM အထိ ၁နာရီအတွင်း တိုင်းထွာခဲ့ခြင်းမရှိပါက တန်ဖိုးတွင် “–“ အဖြစ်ပြနေပါလိမ့်မည်။</td>
</tr>

<tr>
    <td class="label-col"><b>၁နေ့တာအတွင်း ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>၂၄နာရီ သို့မဟုတ် ၁ရက်တာအတွင်း တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ယနေ့အတွက် ၁နေ့တာ၏ ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>၂၄နာရီ သို့မဟုတ် ၁ရက်တာအတွင်း တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးဟု ဆိုသော်လည်း မိမိစစ်ဆေးသော အချိန်ပေါ် မူတည်ပြီး အပြောင်းအလဲ ရှိပါမည်။
        ဥပမာ-ယနေ့ မိမိစစ်ဆေးနေသည့် အချိန်မှာ 09:15 AM ဖြစ်ပါက တစ်နေ့တာ၏ အစဖြစ်သော 00:00 AM မှ ယခုအချိန် 09:15 AM အတွင်း တိုင်းထွာရရှိခဲ့သော
        တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို သာ တွက်ချက်ဖော်ပြပါသည်။ အကယ်၍ မိမိစစ်ဆေးချိန်မှာ 06:15 PM ဖြစ်ပါက 00:00 AM မှ 06:15 PM အထိ တိုင်းထွာရရှိခဲ့သော
        တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို တွက်ချက်ဖော်ပြပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ရွေးချယ်လိုက်သောနေ့ ၁နေ့တာ၏ ပျမ်းမျှတန်ဖိုး</b></td>
    <td>:</td>
    <td>ရွေးချယ်လိုက်သောနေ့သည် လွန်ခဲ့သောသော နေ့ရက်များဖြစ်သည့်အတွက် 00:00 AM မှ 24:00 PM ထိ ၂၄နာရီ သို့မဟုတ် ၁ရက်တာအတွင်း တိုင်းထွာရရှိခဲ့သော တန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို တွက်ချက်ပါသည်။</td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>အကယ်၍ မိမိနှိုင်းယှဉ်လိုသော နေ့အတွင်း မည်သည့်တိုင်းထွာခဲ့ခြင်းမျှ မရှိပါက တန်ဖိုးတွင် “–“ အဖြစ်ပြနေပါလိမ့်မည်။</td>
</tr>

<tr>
    <td class="label-col"><b>အများဆုံး</b></td>
    <td>:</td>
    <td>တနေ့တာ၏ တိုင်းတာရရှိခဲ့သမျှ၏ အမြင့်ဆုံး တန်ဖိုးဖြစ်ပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ယနေ့အတွက် အများဆုံး</b></td>
    <td>:</td>
    <td>ယနေ့တနေ့တာ၏ တိုင်းတာရရှိခဲ့သမျှ၏ အမြင့်ဆုံး တန်ဖိုးဖြစ်ပါသည်။ သို့သော်လည်း ယနေ့တနေ့တာ၏ တိုင်းတာရရှိခဲ့သမျှ၏
        အမြင့်ဆုံး တန်ဖိုးသည် စစ်ဆေးသည့်အချိန်ပေါ်မူတည်ပြီး အပြောင်းအလဲရှိနိုင်ပါ မည်။ ဥပမာ- အကယ်၍ ယနေ့ မိမိစစ်ဆေးသော
        အချိန်သည် 09:35AM ဖြစ်ပါက တနေ့တာ တိုင်းတာရေးစတင်သည့် 00:00 AM မှ စစ်ဆေးချိန် 09:35AM အတွင်းရှိ
        အများဆုံးတန်ဖိုးကို ပြပါမည်။ ထပ်မံ၍ ယနေ့ 15:10PM  တွင် ပြန်စစ်ဆေးပါက တနေ့တာ တိုင်းတာရေးစတင်သည့်
        00:00 AM မှ စစ်ဆေးချိန် 15:10PM အတွင်းရှိ အများဆုံးတန်ဖိုးကို ပြပါမည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ရွေးချယ်သောနေ့အတွက် အများဆုံး</b></td>
    <td>:</td>
    <td>မိမိ ရွေးလိုက်သောနေ့ တနေ့တာ ၂၄နာရီ၏ တိုင်းတာရရှိခဲ့သမျှ၏ အမြင့်ဆုံး တန်ဖိုးဖြစ်ပြီးပါသည်။ သို့ဖြစ်ပါ၍ လွန်ခဲ့သောနေ့များ၏
        အချက်အလက်များကို တိုင်းတာရေးစတင်သည့် 00:00 AM မှ စစ်ဆေးချိန် 09:35AM အတွင်းရှိ တိုင်းတာရရှိခဲ့သမျှ၏
        အမြင့်ဆုံး တန်ဖိုးကို ပြသသောကြောင့် နေ့တနေ့အတွက် အပြောင်းအလဲမရှိပါ။ </td>
</tr>

<tr>
    <td class="label-col"><b>အနည်းဆုံး</b></td>
    <td>:</td>
    <td>တနေ့တာ၏ တိုင်းတာရရှိခဲ့သမျှ၏ အနိမ့်ဆုံး တန်ဖိုးဖြစ်ပါသည်။ တွက်ချက်မှုမှာ အများဆုံးတန်ဖိုး တွက်ချက်ပုံနှင့် အတူတူဖြစ်ပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ယနေ့အတွက် အနည်းဆုံး</b></td>
    <td>:</td>
    <td>ယနေ့တနေ့တာ၏ တိုင်းတာရရှိခဲ့သမျှ၏ အနည်းဆုံး တန်ဖိုးဖြစ်ပါသည်။ သို့သော်လည်း ယနေ့တနေ့တာ၏ တိုင်းတာရရှိခဲ့သမျှ၏
        အနည်းဆုံး တန်ဖိုးသည် စစ်ဆေးသည့်အချိန်ပေါ်မူတည်ပြီး အပြောင်းအလဲရှိနိုင်ပါ မည်။ ဥပမာ- အကယ်၍ ယနေ့ မိမိစစ်ဆေးသော
        အချိန်သည် 09:35AM ဖြစ်ပါက တနေ့တာ တိုင်းတာရေးစတင်သည့် 00:00 AM မှ စစ်ဆေးချိန် 09:35AM အတွင်းရှိ အနည်းဆုံး
        တန်ဖိုးကို ပြပါမည်။ ထပ်မံ၍ ယနေ့ 15:10PM  တွင် ပြန်စစ်ဆေးပါက တနေ့တာ တိုင်းတာရေးစတင်သည့် 00:00 AM မှ
        စစ်ဆေးချိန် 15:10PM အတွင်းရှိ အနည်းဆုံး တန်ဖိုးကို ပြပါမည်။</td>
</tr>

<tr>
    <td class="label-col"><b>ရွေးချယ်သောနေ့အတွက် အနည်းဆုံး</b></td>
    <td>:</td>
    <td>မိမိ ရွေးလိုက်သောနေ့ တနေ့တာ ၂၄နာရီ၏ တိုင်းတာရရှိခဲ့သမျှ၏ အနည်းဆုံး တန်ဖိုးဖြစ်ပြီးပါသည်။ သို့ဖြစ်ပါ၍ လွန်ခဲ့သောနေ့များ၏
        အချက်အလက်များကို တိုင်းတာရေးစတင်သည့် 00:00 AM မှ စစ်ဆေးချိန် 09:35AM အတွင်းရှိ တိုင်းတာရရှိခဲ့သမျှ၏
        အနည်းဆုံး တန်ဖိုးကို ပြသသောကြောင့် နေ့တနေ့အတွက် အပြောင်းအလဲမရှိပါ။ </td>
</tr>

</table>