<h3>စိတ်ကြိုက် နေ့ရက်နှင့်အချိန် သတ်မှတ်ခြင်း</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        စိတ်ကြိုက် နေ့ရက်နှင့်အချိန် သတ်မှတ်ခြင်းကို ပြုလုပ်နိုင်ရန် မိနစ် (mm)၊ နာရီ (hh)၊ လ (Month)နှင့် ခုနှစ် (Year) ဟူ၍ အစဉ်လိုက် ပြထားပါသည်။
        “စိတ်ကြိုက် နေ့ရက်နှင့်အချိန် သတ်မှတ်ခြင်း” ဩ ရည်ရွယ်ချက်မှာ မိမိစိတ်ဝင်စားသော ရက်၊ လ၊ နှစ်၊ နာရီမှ အသေးအချိန် မိနစ်တွင် ကိရီယာများနှင့်
        ရေစုပ်စက်များမှ တိုင်းတားထားသော တန်ဖို့များကို စိတ်ကြိုက် စစ်ဆေးကြည့်နိုင်ရန် ဖြစ်သည်။ အသုံးပြုပုံမှာ “စိတ်ကြိုက်ရွေး” ဟူသော ခလုတ်ကိုနှိပ်ပြီးနောက်
        အသေးစိတ် နှစ်၊ လ၊ ရက်၊ နာရီ၊ မိနစ် တို့ကို စိတ်ကြိုက် ရွေးချယ်သတ်မှတ်နိုင်သည်။ ထို့နောက် ရေလည်ပတ်စီးဆင်းမှုပြပုံတွင် မိမိစစ်ဆေးလိုသော မည်သည့်
        ပစ္စည်းကိရိယာ သို့မဟုတ် ရေစုပ်စက်ကို နှိပ်ပြီးပါက ၎င်းတို့၏ တန်ဖိုးများကို ပြသထားသော အကျဉ်းချုပ်အခြေပြဇယားကို တွေ့မြင်နိုင်ပါသည်။
        မိမိရွေးချယ်ထားမှုကို ပြန်ပိတ်လိုပါက သို့မဟုတ် အခြားနှိုင်ယှဉ်စစ်ဆေးလိုပါက “မူလအနေအထား” ဟူသော ခလုတ်ကို နှိပ်ရပါမည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/custom_date&time.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 5. နေ့ရက်နှင့်အချိန် စိတ်ကြိုက်သတ်မှတ်ခြင်း
        </p>

    </div>

</div>