<h3>ပြက္ခဒိန်</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        ပြက္ခဒိန်အသုံးပြုခြင်း၏ ရည်ရွယ်ချက်မှာ ပစ္စည်းကိရိယာများနှင့် ရေစုပ်စက်များမှ လက်ရှိအချိန်တွင် တိုင်းတာရရှိထားသော တန်ဖိုးများနှင့် မိမိသိလိုသော
        နေ့ရက်တွင် တူညီညီသော အချိန်တွင် တားတာရရှိထားသည့်  တန်ဖိုးတို့ကို နှိုင်းယှဉ်စစ်ဆေးရာ အသုံးပြုရန် ရန်ဖြစ်သည်။ လုပ်ငန်းအကောင်အထည်ဖော်ဆောင်ရွက်နေမှု
        ကာလအတွင်းရှိ မည်သည့်နေ့တွင်မဆို တိုင်းတာရရှိထားသော တန်ဖိုးများကို စစ်ဆေးနိုင်သည်။ သို့သော် လုပ်ငန်းအကောင်အထည်ဖော်ဆောင်ရွက်မှု  ပြီးဆုံးသွားသည်
        ကာလနောက်ပိုင်းရှိ အချက်အလက်များကို စစ်ဆေး၍ ရနိုင်မည်မဟုတ်ပါ။ လုပ်ငန်းအကောင်အထည်ဖော်ဆောင်ရွက်မှုကို ၂၀၂၆ခုနှစ် မေလတွင် စတင်ခဲ့ပါသည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/calendar.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 4. ပြက္ခဒိန်
        </p>

    </div>

</div>