<h3>ရွေ့လျားလှုပ်ရှားမှုပြအယူအဆ</h3>

<p>
ပိုက်လိုင်းတလျှောက် ရေများစီးဆင်းနေမှုကို ရွေ့လျားလှုပ်ရှားနေသော မျဉ်းများဖြင့် ရောင်စုံပြသထားပါသည်။ ပိုက်လိုင်းတလျှောက် ရွေ့လျားလှုပ်ရှားနေမှုသည်
အလိုအလျောက်ထိန်းချုပ်ခလုတ်များနှင့် ရေစုပ်စက်များ၏ အဖွင့်/အပိတ်/ချွတ်ယွင်းချက် အခြေအနေပေါ်မူပါသည်။ အကယ်၍ အလိုအလျောက်ထိန်းချုပ်ခလုတ်ဆခု
သို့မဟုတ် ရေစုပ်စက်တခု က ပိတ်သွားပါက သို့မဟုတ် ချွတ်ယွင်းမှု ဖြစ်နေပါက အဆိုပါ အလိုအလျောက်ထိန်းချုပ်ခလုတ် သို့မဟုတ် ရေစုပ်စက်၏ အရှေ့နှင့်
အနောက်ရှိ ပိုက်လိုင်းများတွင် ရွေ့လျားလှုပ်ရှားနေသော မျဉ်းများ ရပ်နေမည်ဖြစ်သည်။
</p>