<h3>ဒုတိယ အကျဉ်းချုပ်အခြေပြဇယား</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        "<b>ဒုတိယ အကျဉ်းချုပ်အခြေပြဇယား</b>” ဆိုသည်မှာ မိမိက သိလိုသော အချိန်အသေးစိတ်ထိ ပစ္စည်းကိရိယာများ (သို့မဟုတ်)
            ရေစုပ်စက်များ၏ တိုင်းတာရရှိထားသော တန်ဖိုးတို့ကို ဖော်ပြထားသည့် အကျဉ်းချုပ်အခြေပြဇယားဖြစ်သည် (Figure-8)။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/KVT_2_1.png"
             class="img-fluid">

        <p class="mt-2">
            <b>Figure 8. အချက်အလက်များကို ပြသထားသော ဒုတိယ အကျဉ်းချုပ်အခြေပြဇယား</b>
        </p>

    </div>

</div>



<table class="info-table">

<tr>
    <td class="label-col"><b>ရက်စွဲ</b></td>
    <td>:</td>
    <td>ရက်စွဲကို “ပြက္ခဒိန်” တွင် ရွေးချယ်နိုင်သည်။</td>
</tr>

<tr>
    <td class="label-col"><b>အချိန်</b></td>
    <td>:</td>
    <td>မိမိ သိလိုသော အချက်အလက်များနှင့်ပတ်သက်၍ နာရီ မိနစ် အချိန် အသေးစိတ်ကို  “ပြက္ခဒိန်” အထက်တွင် ရွေးချယ်နိုင်သည်။</td>
</tr>

<tr>
    <td class="label-col"><b>တန်ဖိုး</b></td>
    <td>:</td>
    <td>မိမိသိလို၍ ရွေးချယ်လိုက်သော နာရီ မိနစ် အချိန်တွင် အသေးစိတ်ရှိ အချက်အလက်များနှင့်ပတ်သက်၍ ပစ္စည်းကိရိယာများ သို့မဟုတ်
        ရေစုပ်စက်များက တိုင်းတာခဲ့သော တန်ဖိုးကို ဆိုလိုပါသည်။ အကယ်၍ မိမိရွေးချယ်သော မိနစ်တွင် တိုင်းတာခဲ့သည့် အချက်အလက်မရှိပါက တန်ဖို့ကို တွေ့ရမည်မဟုတ်ပါ (Figure 9)။</td>
</tr>

</table>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/KVT_2_2.png"
             class="img-fluid">

        <p class="mt-2">
            <b>Figure 9. အချက်အလက်များကို မပြသနိုင်သော ဒုတိယ အကျဉ်းချုပ်အခြေပြဇယား</b>
        </p>

    </div>


<table class="info-table">
<tr>
    <td class="label-col"><b>ပျမ်းမျှ</b></td>
    <td>:</td>
    <td>မိမိသိလို၍ ရွေးချယ်လိုက်သော နေ့အတွက် ပစ္စည်းကိရိယာများ သို့မဟုတ် ရေစုပ်စက်များက တိုင်းတာခဲ့သော အချက်အလက်တခုစီ၏ တနေ့တာတန်ဖိုးများ၏ ပျမ်းမျှတန်ဖိုးကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>အများဆုံး</b></td>
    <td>:</td>
    <td>မိမိသိလို၍ ရွေးချယ်လိုက်သော နေ့အတွက် ပစ္စည်းကိရိယာများ သို့မဟုတ် ရေစုပ်စက်များက တိုင်းတာခဲ့သော အချက်အလက်တခုစီ၏ တနေ့တာ တန်ဖိုးများအနက် အများဆုံး တန်ဖိုးကို ဆိုလိုပါသည်။</td>
</tr>

<tr>
    <td class="label-col"><b>အနည်းဆုံး</b></td>
    <td>:</td>
    <td>မိမိသိလို၍ ရွေးချယ်လိုက်သော နေ့အတွက် ပစ္စည်းကိရိယာများ သို့မဟုတ် ရေစုပ်စက်များက တိုင်းတာခဲ့သော အချက်အလက်တခုစီ၏ တနေ့တာ တန်ဖိုးများအနက် အနည်းဆုံး တန်ဖိုးကို ဆိုလိုပါသည်။ </td>
</tr>

</table>

