<h3>သတိပေးချက် နှင့် အရေအတွက်များ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

       <p>
        သတိပေးချက် နှင့် အရေအတွက်များပြနေရာတွင် အရောင် (၃) မျိုးဖြင့် လေးထောင့်ကွက် (၃) ခုကို ပြသထားပါသည်။
        </p>

<ul>

    <li>
        အနီရောင် လေးထောင့်ကွက်သည် ပစ္စည်းကိရိယာများနှင့် ရေစုပ်စက်များ၏ နောက်ဆုံးတိုင်းထွာရရှိသော တန်ဖိုးများက
        အများဆုံး သတ်မှတ်စံတန်ဖိုးထက်ကျော်လွန်သွားကြောင်း သတိပေးချက်ကို ကိုယ်စားပြုပြီး အနီရောင်စက်ဝိုင်းအောက်ရှိ
        ဂဏန်းက စံတန်ဖိုးထက်ကျော်လွန်နေသော ပစ္စည်းကိရိယာများနှင့် ရေစုပ်စက်များ၏ အရေအတွက်ကို ရည်ညွှန်းပါသည်။
    </li>

    <li>
        အဝါရောင် လေးထောင့်ကွက်သည် ပစ္စည်းကိရိယာများနှင့် ရေစုပ်စက်များ၏ နောက်ဆုံးတိုင်းထွာရရှိသော တန်ဖိုးများက
        အနည်းဆုံးသတ်မှတ်စံတန်ဖိုး အောက် လျော့နည်းနေကြောင်း သတိပေးချက်ကို ကိုယ်စားပြုပြီး အဝါရောင်စက်ဝိုင်းအောက်ရှိ
        ဂဏန်းက စံတန်ဖိုးအောက် ရောက်နေသော ပစ္စည်းကိရိယာများနှင့် ရေစုပ်စက်များ၏ အရေအတွက်ကို ရည်ညွှန်းပါသည်။
    </li>

    <li>
        ပစ္စည်းကိရိယာများနှင့် ရေစုပ်စက်များ၏ နောက်ဆုံးတိုင်းထွာရရှိသော တန်ဖိုးများက အများဆုံး သတ်မှတ်စံတန်ဖိုးထက်ကျော်လွန်သွားပါက
        သို့မဟုတ် အနည်းဆုံးသတ်မှတ်စံတန်ဖိုး အောက် လျော့နည်းနေပါက  အသံပြသင်္ကေတမှ  သတိပေးချက်အသံ ထွက်ပေါ်လာပါမည်။
        အသံမြည်နေသော အသံပြသင်္ကေတကို နှိပ်ပါက အသံတိတ်သွားမည်ဖြစ်ပါသည်။
    </li>

</ul>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/alarm_count.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 15. သတိပေးချက် အရေအတွက်များ
        </p>

    </div>

</div>