<h3>စံတန်ဖိုးများ သတ်မှတ်ခြင်း/h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        ကိရိယာများနှင့် ရေစုပ်စက်များ၏ တိုင်းတာမှုတန်ဖိုးများ၏ သတ်မှတ်စံတန်ဖိုးများ သတ်မှတ်ခြင်း ပြောင်းလဲခြင်းကို အသုံးပြုသူများအားလုံးကို ခွင့်မပြုထားဘဲ
        လျှို့ဝှက်နံပါတ်ဖြင့် ကန့်သတ်ထားပါသည်  (<b>Figure 13</b>)။ စံတန်ဖိုးများ သတ်မှတ်ရန် ကိရိယာများနှင့် ရေစုပ်စက်များစာရင်းကို သတ်မှတ်စံတန်ဖိုးများခလုတ်အောက်တွင် ဝှက်ထားပါသည်။
        သတ်မှတ်စံတန်ဖိုးများခလုတ်နှိပ်ပြီး လျှို့ဝှက်နံပါတ်မှန်ကန်ပါက ဝှက်ထားသော ကိရိယာများနှင့် ရေစုပ်စက်များစာရင်းကို ကျလာမည်ဖြစ်ပြီး အနည်းဆုံးနှင့် အများဆုံးစံတန်ဖိုးများကို သတ်မှတ်နိုင်မည်ဖြစ်ပါသည် (<b>Figure 14</b>)။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/password_request.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 13. လျှို့ဝှက်နံပါတ်ရိုက်ရန်
        </p>

    </div>

</div>

<div>
<div class="col-md-4 text-center">

        <img src="/static/images/manuals/list_devices&pumps.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 14. စံတန်ဖိုးများ သတ်မှတ်ရန် ကိရိယာများနှင့် ရေစုပ်စက်များစာရင်း
        </p>

    </div>
</div>