<h3>ပစ္စည်းကိရိယာများ အခြေအနေ</h3>


<div>
<p>
ပစ္စည်းကိရိယာများ အခြေအနေပြဇယားတွင် ကိန်းရှင်များ၊ UF စနစ်နှင့် RO စနစ်ဟူ၍ အဓိကကော်လံ၃ခုကို ပြထားပါသည်။
ကိန်းရှင်များကော်လံအောက်တွင် သတ်မှတ်ချက်ကိန်းရှင် (၈) ခုကို ဖော်ပြထားပါသည်။ UF စနစ်နှင့် RO စနစ် ကော်လံအောက်တွင်
ဘယ်ဖက်ရှိ အညွှန်းများမှာ ပစ္စည်းကိရိယာများ၏ ကုဒ်နံပါတ်များဖြစ်ပြီး ညာဖက်သည် ၎င်းတို့၏ ယနေ့ နောက်ဆုံးလက်ရှိအချိန် တိုင်တာရရှိထားသော တန်ဖိုးများဖြစ်သည်။
</p>

</div>

<div>
    <!-- RIGHT: IMAGE -->
    <div class="text-center">

    <!-- MAIN CONTAINER -->
    <div class="diagram-container">

        <!-- IMAGE LAYER -->
        <div class="image-layer">

            <img src="/static/images/manuals/moni_device.png"
                 class="img-fluid main-image">

        </div>

        <!-- ANNOTATION LAYER -->
        <div class="annotation-layer">

            <!-- =========================
                 LABEL 1
            ========================== -->
            <div class="label-box label-1">
                ကိရိယာများ
            </div>

            <div class="arrow arrow-1"></div>
            <div class="arrow arrow-2"></div>

            <!-- =========================
                 LABEL 2
            ========================== -->
            <div class="label-box label-2">
                သတ်မှတ်ချက်ကိန်းရှင်များ
            </div>

            <div class="arrow arrow-3"></div>
            <div class="arrow arrow-4"></div>

            <!-- =========================
                 LABEL 3
            ========================== -->
            <div class="label-box label-3">
                နောက်ဆုံးလက်ရှိအချိန် တိုင်တာရရှိထားသော တန်ဖိုးများ
            </div>

            <div class="arrow arrow-5"></div>
            <div class="arrow arrow-6"></div>

        </div>

    </div>

    <p class="mt-3">
        <b>Figure 10. ပစ္စည်းကိရိယာများ အခြေအနေနှင့်တိုင်းတာမှုများ စောင့်ကြည့်ရန်နေရာ</b>
    </p>

</div>

</div>
