<h3>Setting Threshold</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        Thresholds is a private button to set minimum and maximum threshold values of devices and pumps.
        Password is needed to set threshold values (<b>Figure 13</b>). Devices and pumps are hidden under Threshold Button.
        If Password is correct, the hidden list of devices and pumps will be dropped down and thresholds can be set (<b>Figure 14</b>).
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/password_request.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 13. Request for Password
        </p>

    </div>

</div>

<div>
<div class="col-md-4 text-center">

        <img src="/static/images/manuals/list_devices&pumps.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 14. List of Devices & Pumps to set thresholds
        </p>

    </div>
</div>