<h3>ရေစုပ်စက်များ</h3>

<p>
ယခုစနစ်တွင်  ရည်ရွယ်ချက်အမျိုးမျိုးအတွက် မတူညီသော ရေစုပ်စက်များကို အသုံးပြုထားပါသည်။ ဥပမာ- ရေစစ်ခြင်းစနစ်တွင် ရေဆိုးစုပ်တင်စက် (P001),
ရေစစ်ကန်စုပ်တင်စက် (P002), နောက်ပြန်တွန်းရေစုပ်စက်(P003), ရေသန့်စုပ်စက်(P004) နှင့် ရေသန့်စင်ကန်စုပ်စက် (P005) တို့လည်းကောင်း ဖိအားသုံးရေသန့်စနစ်တွင်
ဖိအားသုံးရေစုပ်စက် (P001)နှင့် ဖိအားမြင့်ရေစုပ်စက် (P002) တို့ကိုလည်းကောင်း အသုံးပြုထားပါသည်။
</p>


<p>
ရေစီးဆင်းလည်ပတ်မှုပြပုံတွင် ရေစုပ်စက်များသည် အကျဉ်းချုပ်အခြေပြဇယားနှင့် အဖွင့်/အပိတ်/ချွတ်ယွင်းမှု အခြေအနေများကို အစိမ်း/အနီ/လိမ္မော်ရောင်များနှင့် အသီးသီးပြထားပါသည်။
</p>

<table class="table table-bordered">

<tr>
    <th class="text-center">ရေစုပ်စက်ကုဒ်</th>
    <th class="text-center">အမျိုးအစား</th>
</tr>

<tr>
    <td>P001</td>
    <td>ရေဆိုးစုပ်တင်စက်</td>
</tr>

</table>

<!-- =========================
     IMAGE SECTION
========================= -->
<div class="row">

    <!-- IMAGE 1 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/P001.avif"
             class="img-fluid manual-img">

        <p>
            Figure 1. ရေဆိုးစုပ်တင်စက်
        </p>

    </div>

    <!-- IMAGE 2 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/P003.jpg"
             class="img-fluid manual-img">

        <p>
            Figure 2. နောက်ပြန်တွန်းရေစုပ်စက်
        </p>

    </div>

    <!-- IMAGE 3 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/pump.png"
             class="img-fluid manual-img">

        <p>
            Figure 3. စီးဆင်းလည်ပတ်မှုပြပုံရှိ ရေဆိုးစုပ်တင်စက်
        </p>

    </div>

</div>