<h3>အချိန်နှင့် တပြေးညီ တိုင်းတာရရှိလာသည့် တန်ဖိုးများပြ ဂရပ်ပုံများ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        ဂရပ်ပုံများသည် ပစ္စည်ကိရိယာများနှင့် ရေစုပ်စက်များမှ အချိန်နှင့် တပြေးညီ တိုင်းတာရရှိလာသည့် တန်ဖိုးများကို ဖော်ပြပါသည်။
        မည်သည့် ပစ္စည်ကိရိယာ သို့မဟုတ် ရေစုပ်စက်ကို နှိပ်ပါက ၎င်း၏ အချိန်နှင့် တပြေးညီ တိုင်းတာရရှိလာသည့် တန်ဖိုးများကိုပြသည့် ဂရပ်ပုံများ ပေါ်လာမည်ဖြစ်သည်။ ထိပ်မံနှိပ်ပါက ပိတ်သွားမည်ဖြစ်သည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/graphs.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 17. အချိန်နှင့် တပြေးညီ တိုင်းတာရရှိလာသည့် တန်ဖိုးများပြ ဂရပ်ပုံများ
        </p>

    </div>

</div>