<h3>အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်များ၏ အခြေအနေ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်များပြ ဇယားတွင် အလိုအလျောက်ထိန်းချုပ်နိုင်သော အဆို့ရှင်ဖွင့်ပိတ် ခလုတ် (၁၃)ခု ကို ပြသထားပါသည်။
        အကယ်၍ အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်ကို ဖွင့်ထား (ON) ပါက အဆိုပါ အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်ကို အစိမ်းရောင်ဖြင့်ပြထားပါသည်။
        အကယ်၍ အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်ကို ပိတ်ထား (OFF) ပါက အဆိုပါ အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်ကို အနီရောင်ဖြင့်ပြထားပါသည်။
        အကယ်၍ အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်သည် တခုခု ချွတ်ယွင်းနေပါက အဆိုပါ အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်ကို လိမ္မော်ရောင်ဖြင့်ပြထားပါသည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/system_valves.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 28. အဆို့ရှင်ဖွင့်ပိတ်ခလုတ်များ၏ အခြေအနေ
        </p>

    </div>