<h3>စိတ်ကြိုက်ကာလ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        မိမိစိတ်ဝင်စားသော အချိန်ကာလ အပိုင်းအခြားတခုအတွင်းရှိ အချက်အလက်တန်ဖိုးများကို ဂရပ်ဖြင့် ဖော်ပြရန် စတင်ချိန်နှင့် နောက်ဆုံး အချိန် နာရီ ရက်အလိုက်ကို ရွေးချယ်သတ်မှတ်နိုင်သည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/custom_range_1.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 26. စိတ်ကြိုက်ကာလအပိုင်းအခြား သတ်မှတ်ခြင်း
        </p>

    </div>

    <div class="col-md-8">

        <p>
        စတင်ချိန်နှင့် အဆုံးသတ်မချိန်တို့ကို စိတ်ကြိုက်သတ်မှတ်ချက်ကို ပြန်ပြင်ခြင်း ပြန်သတ်မှတ်ခြင်းတို့ကို ဆောင်ရွက်နိုင်သည်။ အကျဉ်းချုပ်အခြေပြဇယားတွင်
        လက်ရှိတန်ဖိုးသည် ယနေ့ နောက်ဆုံးလက်ရှိ တိုင်းတာရရှိသော တန်ဖိုးကို ဆိုလိုပြီး ပျမ်းမျှ၊ အနည်းဆုံးနှင့် အများဆုံးတန်ဖိုးများသည် တနေ့တာ စတင်တိုင်တားချိန်မှ
        နောက်ဆုံးလက်ရှိချိန်ထိ ရရှိသော တန်းဖိုများကို တွက်ချက်ထားသော ပျမ်းမျှတန်ဖိုး၊ အနိမ့်ဆုံးနှင့် အမြင့်ဆုံးများကို ဆိုလိုပါသည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">
        <div class="img-wrapper">

            <img src="/static/images/manuals/custom_range_2.png"
             class="img-fluid">

            <div class="annotation-layer">

        <!-- START DATE -->
                <div class="arrow-line arrow-start"></div>

        <!-- END DATE -->
                <div class="arrow-line arrow-end"></div>

    </div>

</div>

        <p class="mt-2">
            Figure 27. စိတ်ကြိုက်ကာလအပိုင်းအခြား စတင်ချိန်နှင့် နောက်ဆုံးချိန်
        </p>

    </div>

</div>