<h3>ဂရပ်များတွင် စံတန်ဖိုးများသတ်မှတ်ရန်နေရာ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

       <p>
           စံတန်ဖိုးများသတ်မှတ်ရန်နေရာ (၂) ခုကို ဂရပ်ပုံများ၏ အထက်တွင် ပေးထားပါသည်။
           စံတန်ဖိုးများသတ်မှတ်ခြင်း ပယ်ဖျက်ခြင်းများကို ပြုလုပ်နိုင်ပါသည်။ စံတန်ဖိုးများသတ်မှတ်ပြီးပါက
           ဂရပ်များတွင် အနည်းဆုံးစံတန်းဖိုးကို အနီရောင်မျဉ်းမြင့် ဖော်ပြပြီး အများစုံးစံတန်ဖိုးကို အပြာရောင်မျဉ်းဖြင့် ဖော်ပြပါသည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

         <div class="img-wrapper">

            <img src="/static/images/manuals/graphs.png"
             class="img-fluid">

    <!-- ANNOTATION LAYER -->
            <div class="annotation-layer">

                <div class="highlight-box box-2">
            </div>
         </div>

        <p class="mt-2">
            Figure 18. ဂရပ်နှင့် စံတန်ဖိုးများသတ်မှတ်ရန်နေရာ
        </p>

    </div>

    </div>
</div>