<h3>အချိန်ကာလအပိုင်းအခြားသတ်မှတ်ခြင်း</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

       <p>
           ကနဦးဂရပ်သည် ယနေ့တာအတွက် နောက်ဆုံးလက်ရှိအချိန်ထိ ၅မိနစ်ခြားတိုင်းတာရရှိခဲ့သော တန်ဖိုးများကို ဖော်ပြပါသည်။
           အချိန်ကာလ အပိုင်းအခြားကို ၅မျိုးဖြင့် ရွေးချယ်သတ်မှတ်နိုင်ရန် ရွေးချယ်မှု (၅) ခုပေးထားပါသည်။ မတူညီသော အချိန်ကာလ
           အပိုင်းအခြားအလိုက် ရွေးချယ်ပါက ရွေးချယ်လိုက်သည့် အချိန်အပိုင်းအခြားအတိုင်း အလျားလိုက် X ဝင်ရိုးတွင် အချိန်များကို
           ဖော်ပြနေမည်ဖြစ်ပြီး အချိန်ကာလအပိုင်းအခြားရှိ တန်းဖို့ကို အသုံးပြုလျက် ဂရပ်ပုံကို အစိမ်းရောင်လိုင်းဖြင့် ဖော်ပြပါသည်။
        </p>

        <ul class="custom-bullets">

            <li>
                <b>၃၀မိနစ်</b>: ကြာချိန် ၃၀မိနစ် အပိုင်းအခြားကို ဆိုလိုပါသည်။ တနေ့တာ၏ ပထမဆုံးအချိန် 00:00 AM မှ သို့မဟုတ်
                ကိရိယာက စတင်တိုင်းတာသောအချိန် မှစတင်ပြီး မိနစ် ၃၀တိုင်းတွင် တိုင်းတာသော တန်းဖိုများကို အခြေခံလျက် ဂရပ်ကိုတည်ဆောက်ပါသည်။
                (ဥပမာ- 00:00, 00:30, 01:00, etc or 00:05, 00:035, 01:05, etc ၌ တိုင်းတာရရှိသော တန်ဖိုးများ)
            </li>

            <li>
                <b>၁နာရီ</b>: ကြာချိန် ၁နာရီ အပိုင်းအခြားကို ဆိုလိုပါသည်။ တနေ့တာ၏ ပထမဆုံးအချိန် 00:00 AM မှ
                သို့မဟုတ် ကိရိယာက စတင်တိုင်းတာသောအချိန် မှစတင်ပြီး ၁နာရီပြည့်တိုင်းတွင် တိုင်းတာသော တန်းဖိုများကို အခြေခံလျက် ဂရပ်ကိုတည်ဆောက်ပါသည်။
                (ဥပမာ- 00:00, 01:00, 02:00, etc or (00:05, 01:05, 02:05, etc ၌ တိုင်းတာရရှိသော တန်ဖိုးများ)
            </li>

            <li>
                <b>၁ရက်</b>: ကြာချိန် ၁ရက်တာ အပိုင်းအခြားကို ဆိုလိုပါသည်။ တနေ့တာ၏ ပထမဆုံးအချိန် 00:00 AM မှ
                သို့မဟုတ် ကိရိယာက စတင်တိုင်းတာသောအချိန် မှစတင်ပြီး ၁ရက် သို့မဟုတ် ၂၄နာရီတိုင်းတွင် တိုင်းတာသော တန်းဖိုများကို အခြေခံလျက် ဂရပ်ကိုတည်ဆောက်ပါသည်။
                (ဥပမာ- 2025/10/11 00:00, 2025/10/12 00:00, 2025/10/13 00:00, etc or 2025/10/11 02:00, 2025/10/12 02:00, 2025/10/13 02:00, etc ၌ တိုင်းတာရရှိသော တန်ဖိုးများ)
            </li>

            <li>
                <b>၁ပတ်</b>: ကြာချိန် ၁ပတ်တာ အပိုင်းအခြားကို ဆိုလိုပါသည်။ တနေ့တာ၏ ပထမဆုံးအချိန် 00:00 AM မှ သ
                ို့မဟုတ် ကိရိယာက စတင်တိုင်းတာသောအချိန် မှစတင်ပြီး ၁ပတ် သို့မဟုတ် (၇)ရက်တာတိုင်းတွင် တိုင်းတာသော တန်းဖိုများကို အခြေခံလျက် ဂရပ်ကိုတည်ဆောက်ပါသည်။
            </li>

            <li>
                <b>၁လ</b>: ကြာချိန် ၁လတာ အပိုင်းအခြားကို ဆိုလိုပါသည်။ တနေ့တာ၏ ပထမဆုံးအချိန် 00:00 AM မှ
                သို့မဟုတ် ကိရိယာက စတင်တိုင်းတာသောအချိန် မှစတင်ပြီး ၁လ သို့မဟုတ် (၃၀)ရက်တာတိုင်းတွင် တိုင်းတာသော တန်းဖိုများကို အခြေခံလျက် ဂရပ်ကိုတည်ဆောက်ပါသည်။
            </li>

        </ul>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 19. အချိန်ကာလ အပိုင်းအခြားများ
        </p>

    </div>
</div>


<!-- =========================
     IMAGE SECTION
========================= -->
<div class="row">

    <!-- IMAGE 1 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_default.png"
             class="img-fluid manual-img">

        <p>
            Figure 20. ၅နစ်အပိုင်းအခြားဖြင့် ပြသော ကနဦး ဂရပ်
        </p>

    </div>

    <!-- IMAGE 2 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_30m.png"
             class="img-fluid manual-img">

        <p>
            Figure 21. မိနစ် ၃၀ အပိုင်းအခြားဖြင့် ပြသော ဂရပ်
        </p>

    </div>

    <!-- IMAGE 3 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_1h.png"
             class="img-fluid manual-img">

        <p>
            Figure 22. ၁နာရီ အပိုင်းအခြားဖြင့် ပြသော ဂရပ်
        </p>

    </div>

</div>

<div class="row">

    <!-- IMAGE 1 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_1d.png"
             class="img-fluid manual-img">

        <p>
            Figure 23. ၁ရက် အပိုင်းအခြားဖြင့် ပြသော ဂရပ်
        </p>

    </div>

    <!-- IMAGE 2 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_1w.png"
             class="img-fluid manual-img">

        <p>
            Figure 24. ၁ပတ် အပိုင်းအခြားဖြင့် ပြသော ဂရပ်
        </p>

    </div>

    <!-- IMAGE 3 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_1mo.png"
             class="img-fluid manual-img">

        <p>
            Figure 25. ၁လ အပိုင်းအခြားဖြင့် ပြသော ဂရပ်
        </p>

    </div>

</div>