<h3>ဂရပ်ပုံရှိ အကျဉ်းချုပ်အခြေပြဇယား</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

       <p>
            အချိန်နှင့် တပြေးညီ တိုင်းတာရရှိလာသည့် တန်ဖိုးများပြ ဂရပ်ပုံများ အောက်တွင် ယနေ့တိုင်းတာရရှိသော တန်ဖိုး ၄ခုကို အကျဉ်းချုပ်အခြေပြဇယားဖြင့် ဖော်ပြထားပါသည်။
        </p>

        <ul class="custom-bullets">

            <li>
                <b>လက်ရှိတန်ဖိုးဆိုသည်မှာ</b> ပစ္စည်းကိရိယာများ သို့မဟုတ် ရေစုပ်စက်များအသီးသီးက  အချိန်နှင့် တပြေးညီ တိုင်းတာရရှိလာသည့် နောက်ဆုံးလက်ရှိရ တန်ဖိုးကို ဆိုလိုပါသည်။
            </li>

            <li>
                <b>ပျမ်းမျှတန်ဖိုးဆိုသည်မှာ</b> ပစ္စည်းကိရိယာများ သို့မဟုတ် ရေစုပ်စက်များအသီးသီးက  အချိန်နှင့် တပြေးညီ တနေ့တာ စတင်တိုင်းတာချိန်မှ နောက်ဆုံးလက်ရှိအချိန်ထိ
                တိုင်းတာ ရရှိလာသည့် တန်ဖိုးများကိုအပေါ် တွက်ချက်ထားသည့် ပျမ်းမျှတန်ဖိုးကို ဆိုလိုပါသည်။
            </li>

            <li>
                <b>အနည်းဆုံးတန်ဖိုးဆိုသည်မှာ</b> ပစ္စည်းကိရိယာများ သို့မဟုတ် ရေစုပ်စက်များအသီးသီးက  အချိန်နှင့် တပြေးညီ တနေ့တာ စတင်တိုင်းတာချိန်မှ နောက်ဆုံးလက်ရှိအချိန်ထိ
                တိုင်းတာ ရရှိလာသည့် တန်ဖိုးများအနက် အနိမ့်ဆုံးတန်ဖိုးကို ဆိုလိုပါသည်။
            </li>

            <li>
                <b>အများဆုံးတန်ဖိုးဆိုသည်မှာ</b> ပစ္စည်းကိရိယာများ သို့မဟုတ် ရေစုပ်စက်များအသီးသီးက  အချိန်နှင့် တပြေးညီ တနေ့တာ စတင်တိုင်းတာချိန်မှ နောက်ဆုံးလက်ရှိအချိန်ထိ
                တိုင်းတာ ရရှိလာသည့် တန်ဖိုးများအနက် အမြင့်ဆုံးတန်ဖိုးကို ဆိုလိုပါသည်။
            </li>

        </ul>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

         <div class="img-wrapper">

            <img src="/static/images/manuals/graphs.png"
             class="img-fluid">

    <!-- ANNOTATION LAYER -->
            <div class="annotation-layer">

                <div class="highlight-box box-1">
            </div>
         </div>

        <p class="mt-2">
            Figure 18. ဂရပ်ပုံနှင့် အကျဉ်းချုပ်အခြေပြဇယား
        </p>

    </div>

    </div>
</div>