<h3>တိုင်းတာသည့်အချက်များ</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        တိုင်းတာသည့်အချက် (၈) ချက်ကို ထောင်လိုက် အစီစဉ်တကျ ပြသထားပါသည်။ တခုချင်းစီအောက်တွင် တိုင်းတာသော ပစ္စည်ကိရိယာများနှင့်
        ရေစုပ်စက်များကို ဝှက်ထားပြီး တခုချင်းစီကို နှိပ်ပါက ဝှက်ထားသော ပစ္စည်ကိရိယာများနှင့် ရေစုပ်စက်များ စာရင်းများ ကျလာမည် ဖြစ်ပါသည်။
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/list_parameters.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 16. တိုင်းတာသည့်အချက်များနှင့် ပစ္စည်းကိရိယာများ
        </p>

    </div>

</div>