<h3>Variable Options</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        Buttons of eight parameters are vertically displayed. Buttons of devices and pumps are hidden under each button of parameter.
            When the button of parameter is clicked, its variable buttons of devices or pumps will be dropped down. Each button of
            device or pump connect with each related column in database and can be dragged and dropped into variable boxes to define
            dependent, independent, co-variate and control variables according to statistical models.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/variable_options.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 29. List of Variables
        </p>

    </div>
</div>