<h3>Counts & Alarm Toggle</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

       <p>
Counts and Alarm Toggle mentions three rectangular boxes.
</p>

<ul>

    <li>
        The red rectangular box represents the status that the latest value
        of devices and pumps is greater than maximum threshold values and
        the number represents the count number of devices and pumps whose
        latest values are greater than maximum threshold values.
    </li>

    <li>
        The yellow rectangular box represents the status that the latest
        value of devices and pumps is less than minimum threshold values
        and the number represents the count number of devices and pumps
        whose latest values are less than minimum threshold values.
    </li>

    <li>
        Sound icon transmits the alert sound when the latest value of
        devices and pumps is greater than maximum threshold values.
        It can be muted to stop the sound.
    </li>

</ul>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/alarm_count.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 15. Counts of alarms
        </p>

    </div>

</div>