<h3>Parameter Buttons</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        Buttons of eight parameters are vertically displayed. Buttons of devices and pumps are hidden under each button of parameter.
        When the button of parameter is clicked, its buttons of devices or pumps will be dropped down.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/list_parameters.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 16. Parameters & Devices
        </p>

    </div>

</div>