<h3>Custom Range</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        Custom Range is to limit the period or range of data that you are interesting instead of displaying all data in the graph.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/custom_range_1.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 26. Setting Custom Range
        </p>

    </div>

    <div class="col-md-8">

        <p>
        The period or range of time can be set by selecting start and end date, and the default graph can be reset.
        In key-value table, Current value is the value at current time of Today but Mean, Minimum and Maximum values
        are average, the smallest and the greatest value based on the data during the selected range of time.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">
        <div class="img-wrapper">

            <img src="/static/images/manuals/custom_range_2.png"
             class="img-fluid">

            <div class="annotation-layer">

        <!-- START DATE -->
                <div class="arrow-line arrow-start"></div>

        <!-- END DATE -->
                <div class="arrow-line arrow-end"></div>

    </div>

</div>

        <p class="mt-2">
            Figure 27. Setting Custom Range
        </p>

    </div>

</div>