<h3>1<sup>st</sup> Key-value Table</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        "<b>1<sup>st</sup> Key-value Table</b>” displays a key-value table in which the values of devices or pumps on current times and date
        is compared on same time as current time on the date as you want. As a default, key-value table with a row which
        show the values of devices or pumps at current time and today when the popup of device or pump is clicked (Figure-6).
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/KVT_1_1.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 6. Default 1<sup>st</sup> Key-value table
        </p>

    </div>

</div>

<div class="row align-items-start">
<div class="col-md-8">

        <p>
        If you want to compare the values of devices or pumps on the date you want, you should any date in “Calendar”.
        When you select a date in “Calendar”, a second row can be seen (Figure-7).
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/KVT_1_2.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 7. 1<sup>st</sup> Key-value table comparing Today and selected date
        </p>

    </div>

    </div>
<div class="row align-items-start">
    <div class="col-md-8">

        <p>
        In “<b>1<sup>st</sup> Key-value Table</b>”, the meanings of column names and key-values are as follow;
        </p>

    </div>
</div>


<table class="info-table">

<tr>
    <td class="label-col"><b>Today</b></td>
    <td>:</td>
    <td>current day of live stream data</td>
</tr>

<tr>
    <td class="label-col"><b>Latest Today</b></td>
    <td>:</td>
    <td>It is the current or latest value of each device or pump today.</td>
</tr>

<tr>
    <td class="label-col"><b>Latest on selected date</b></td>
    <td>:</td>
    <td>It is the value of each device or pump on selected date at the same or around the time of current or latest value of Today
        (eg. Latest Today: 3.54 at 09:15AM, Latest 2025/10/25: 2.78 at 09:15AM).</td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>If there is no value at the same or around the time of current or latest value of Today, the latest value of selected date
        shows empty (eg. Latest Today: 2.75 at 09:20AM, Latest 2025/10/25: “ - ”  at 09:20AM)</td>
</tr>

<tr>
    <td class="label-col"><b>Recent Today</b></td>
    <td>:</td>
    <td>It is the value of each device or pump at 5 minutes ago today because the data is recorded every 5 minutes.
        For example, it is 09:15AM now, the recent value is the value recorded at 09:10AM Today. </td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>If there is no value at the same or around the time of recent value of Today, the recent value of
        selected date shows empty (eg. Recent Today: 1.45 at 09:10AM, Recent 2025/10/25: “ - ”  at 09:10AM)</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 30 m</b></td>
    <td>:</td>
    <td>It means average value recorded within latest 30 minutes.</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 30 m Today</b></td>
    <td>:</td>
    <td>If it is 09:35 AM now Today, the average value of 30 minutes is the average value calculated the values collected from 09:05 AM to 09:35 AM.</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 30 m on selected date</b></td>
    <td>:</td>
    <td>It is an average value recorded within latest 30 minutes on selected in the same time of Today. If selected date is 2025/11/05 and
        it is 09:35 AM now Today, the average value of 30 minutes on selected date is the average value calculated the values collected
        from 09:05 AM to 09:35 AM on 2025/11/05. </td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>If there is no value recorded within latest 30 minutes (09:05 AM to 09:35 AM) on selected date in the same time of Today,
        the average value recorded within latest 30 minutes on selected date shows empty.</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 1hr</b></td>
    <td>:</td>
    <td>It means average value recorded within latest one hour.</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 1hr Today</b></td>
    <td>:</td>
    <td>If it is 09:35 AM now Today, the average value of one hour is the average value calculated the values collected from 08:35 AM to 09:35 AM.</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 1hr on selected date</b></td>
    <td>:</td>
    <td>It is an average value recorded within latest one hour on selected in the same time of Today. If selected date is 2025/11/05 and
        it is 09:35 AM now Today, the average value of one hour on selected date is the average value calculated the values collected
        from 08:05 AM to 09:35 AM on 2025/11/05.</td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>If there is no value recorded within latest one hour (08:05 AM to 09:35 AM) on selected date in the same time of Today,
        the average value recorded within latest one hour on selected date shows empty.</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 1d</b></td>
    <td>:</td>
    <td>It means average value recorded within a day (24 hours).</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 1d Today</b></td>
    <td>:</td>
    <td>However, if the time is 10:35 AM now when you check today, the average value of one day will be calculated based
        on the values collected from 00:00 AM to 10:35 AM Today.</td>
</tr>

<tr>
    <td class="label-col"><b>Avg 1d on selected date</b></td>
    <td>:</td>
    <td>It is an average value recorded within a day (24 hours) on selected. If selected date is 2025/11/05,
        the average value of a day on selected date is the average value calculated the values collected
        from 00:00 AM to 24:00 PM on 2025/11/05.</td>
</tr>

<tr>
    <td class="label-col"></td>
    <td></td>
    <td>If there is no data recorded on selected date, the average value of a day on selected date shows empty.</td>
</tr>

<tr>
    <td class="label-col"><b>Max</b></td>
    <td>:</td>
    <td>It is a maximum value of the day.</td>
</tr>

<tr>
    <td class="label-col"><b>Max Today</b></td>
    <td>:</td>
    <td>It is a maximum value of Today. But, maximum value of Today is not stable depending on the time you check.
        For example, if it is 09:35AM when you check the maximum value, the maximum value is the greatest value
        of the data recorded from 00:00 AM to 09:35AM Today. Repeatedly, if it is 15:10PM when you check the maximum
        value, the maximum value is the greatest value of the data recorded from 00:00 AM to 15:10 PM Today.</td>
</tr>

<tr>
    <td class="label-col"><b>Max on selected date</b></td>
    <td>:</td>
    <td>It is a maximum value on selected date. But, maximum value on selected date is stable because it is past data.
        For example, when you check past data, the maximum value on selected date shows the same all the time because
        the maximum value is the greatest value of the data recorded from 00:00 AM to 24:00PM Today.</td>
</tr>

<tr>
    <td class="label-col"><b>Min</b></td>
    <td>:</td>
    <td>It is a minimum value of the day. The calculation is the same way as maximum value.</td>
</tr>

<tr>
    <td class="label-col"><b>Min Today</b></td>
    <td>:</td>
    <td>It is a minimum value of Today. But, minimum value of Today is not stable depending on the time you check.
        For example, if it is 09:35AM when you check the minimum value, the minimum value is the greatest value of
        the data recorded from 00:00 AM to 09:35AM Today. Repeatedly, if it is 15:10PM when you check the minimum value,
        the minimum value is the greatest value of the data recorded from 00:00 AM to 15:10 PM Today.</td>
</tr>

<tr>
    <td class="label-col"><b>Min on selected date</b></td>
    <td>:</td>
    <td>It is a minimum value on selected date. But, minimum value on selected date is stable because it is past data.
        For example, when you check past data, the minimum value on selected date shows the same all the time because
        the minimum value is the greatest value of the data recorded from 00:00 AM to 24:00PM Today. </td>
</tr>

</table>