<h3>Key-value Table of Graph</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

       <p>
            Key-value Table is shown under the graph representing four values of Today in each column.
        </p>

        <ul class="custom-bullets">

            <li>
                <b>Current value</b> means the latest live streamed value of respective devices or pump Today.
            </li>

            <li>
                <b>Mean value</b> means average value of respective devices or pump derived from calculation of all values recorded up to current time Today.
            </li>

            <li>
                <b>Minimum value</b> means the smallest value of respective devices or pump derived among all values recorded up to current time Today.
            </li>

            <li>
                <b>Maximum value</b> means the greatest value of respective devices or pump derived among all values recorded up to current time Today.
            </li>

        </ul>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

         <div class="img-wrapper">

            <img src="/static/images/manuals/graphs.png"
             class="img-fluid">

    <!-- ANNOTATION LAYER -->
            <div class="annotation-layer">

                <div class="highlight-box box-1">
            </div>
         </div>

        <p class="mt-2">
            Figure 18. Graph & Key-value Table
        </p>

    </div>

    </div>
</div>