<h3>Summary Table</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        Summary Table show a table of results summarizing the essential and main parameters of result based
        on statistical result applied. When the button “Summary” located at the bottom in the Input Browser,
        summary table must appear in a container in middle empty panel of Analysis page (analysis.html). It can be printed or saved.
        </p>

    </div>
</div>