<h3>Input Browser</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        In such window or browser, the dropped boxes of essential required variables with names such as X, Y, Cov. and Control,
        etc and buttons such as summary and plot are arranged. The variable can be dropped down into the essential required
        variable dropped boxes by dragging the variable from the variable buttons under button of parameter. The explanation
        of each feature in input browser are as follow;
        </p>

    </div>
</div>

<table class="table table-bordered">

<tr>
    <th class="text-center"><b>Labels</b></th>
    <th class="text-center"><b>Features</b></th>
    <th class="text-center"><b>Meaning</b></th>
    <th class="text-center"><b>Purposes</b></th>
</tr>

<tr>
    <td>X</td>
    <td>Data dropped box</td>
    <td>Dependent variables</td>
    <td>To drag and drop single or multiple dependent variables as necessary</td>
</tr>

<tr>
    <td>Y</td>
    <td>Data dropped box</td>
    <td>Independent variables</td>
    <td>To drag and drop single or multiple independent variables as necessary</td>
</tr>

<tr>
    <td>Cov.</td>
    <td>Data dropped box</td>
    <td>Covariate variables</td>
    <td>To drag and drop single or multiple covariate variables as necessary</td>
</tr>

<tr>
    <td>Control</td>
    <td>Data dropped box</td>
    <td>Control variables</td>
    <td>To drag and drop single or multiple control variables as necessary</td>
</tr>

<tr>
    <td>Summary</td>
    <td>Popup button</td>
    <td>Summary of results</td>
    <td>To print summary of results according to statistical methods after all inputs as necessary.</td>
</tr>

<tr>
    <td>Plots</td>
    <td>Popup button</td>
    <td>Plots of result</td>
    <td>To print plots of results according to statistical methods</td>
</tr>
</table>