<h3>Customized Date and Times</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        The customized dates and times are displayed as minutes (mm), hours (hh), month (Month) and year (Year) in order.
        The purpose of “Customized Dates & Times” is to check the values of devices and pumps at the specific times on
        specific date as you want. You can set the specific time and date after clicking the button “Custom”. You can click
        any devices or pumps that you want to check and then can see the key-value table of devices or pumps that you click.
        Click “Reset” if you want to hide your selection or if you want to compare day by day.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/custom_date&time.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 5. Customizing date and times
        </p>

    </div>

</div>