<h3>2<sup>nd</sup> Key-value Table</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        "<b>2<sup>nd</sup> Key-value Table</b>” means the key-value table appear when you customize the detail time and
            check the data of any device and pump. The data at any minute, hour, day, month within project can be customized and checked. (Figure-8).
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/KVT_2_1.png"
             class="img-fluid">

        <p class="mt-2">
            <b>Figure 8. 2<sup>nd</sup> Key-value table with present data</b>
        </p>

    </div>

</div>



<table class="info-table">

<tr>
    <td class="label-col"><b>Date</b></td>
    <td>:</td>
    <td>The date can be selected in “Calendar”.</td>
</tr>

<tr>
    <td class="label-col"><b>Time</b></td>
    <td>:</td>
    <td>Detail time, minutes and hour, that you want to check post data can be selected above “Calendar”.</td>
</tr>

<tr>
    <td class="label-col"><b>Value</b></td>
    <td>:</td>
    <td>It means the value of devices or pumps at the time (detail hour and minute) on the selected
        date that you want to curiously know. In case, the value cannot be seen if there is no past
        data at exact minute that you selected (Figure 9)</td>
</tr>

</table>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/KVT_2_2.png"
             class="img-fluid">

        <p class="mt-2">
            <b>Figure 9. 2<sup>nd</sup> Key-value table with absent data</b>
        </p>

    </div>


<table class="info-table">
<tr>
    <td class="label-col"><b>Avg</b></td>
    <td>:</td>
    <td>It means the average value of devices or pumps on the selected date that you want to curiously know.</td>
</tr>

<tr>
    <td class="label-col"><b>Max</b></td>
    <td>:</td>
    <td>It means the maximum value of devices or pumps on the selected date that you want to curiously know.</td>
</tr>

<tr>
    <td class="label-col"><b>Min</b></td>
    <td>:</td>
    <td>It means the minimum value of devices or pumps on the selected date that you want to curiously know.</td>
</tr>

</table>

