<h3>Threshold Box in Graph</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

       <p>
            Two threshold boxes are mentioned above the graph to set maximum and minimum thresholds.
           Those thresholds can be set or hidden. After setting thresholds, minimum and maximum threshold
           lines are represented as red and blue dash lines in the graph.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

         <div class="img-wrapper">

            <img src="/static/images/manuals/graphs.png"
             class="img-fluid">

    <!-- ANNOTATION LAYER -->
            <div class="annotation-layer">

                <div class="highlight-box box-2">
            </div>
         </div>

        <p class="mt-2">
            Figure 18. Graph & Threshold boxes
        </p>

    </div>

    </div>
</div>