<h3>Live-streamed Graphs</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        Graphs represent live stream data of devices or pumps. When the button of device or pump is clicked,
        its graphs representing live stream data will appear as green line. When the same button is clicked second time, its graph will disappear.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/graphs.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 17. Live-streamed Graphs
        </p>

    </div>

</div>