<h3>Measurable Devices</h3>

<p>
Measurable devices include several devices and parameters are measured as follow;
</p>


<table class="table table-bordered">

<tr>
    <th class="text-center">Devices</th>
    <th class="text-center">Parameters</th>
    <th class="text-center">Units</th>
    <th class="text-center">Device Names</th>
</tr>

<tr>
    <td>Pressure Transmitters Sensor</td>
    <td>Pressure</td>
    <td>bar</td>
    <td>PT001 to PT011</td>
</tr>

<tr>
    <td>RTD (Resistance Temperature Detector)</td>
    <td>	Temperature</td>
    <td>°C</td>
    <td>TIT001 to TIT003, TT004</td>
</tr>

<tr>
    <td>Flow meter</td>
    <td>Flow</td>
    <td>m<sup>3</sup>/h</td>
    <td>FIT001 to FIT002, FT001 to FT002, FI001 to FI002</td>
</tr>

<tr>
    <td>pH meter</td>
    <td>pH</td>
    <td>pH001to pH003</td>
</tr>

<tr>
    <td> Conductivity meter</td>
    <td>Electricity conductivity</td>
    <td>mS/cm</td>
    <td>EC001 to EC003</td>
</tr>

<tr>
    <td>Turbidimeter/ Nephelometer</td>
    <td>Turbidity</td>
    <td>NTU</td>
    <td>TUB001</td>
</tr>

<tr>
    <td>Redox probe</td>
    <td>Oxidation-Reduction Potential</td>
    <td></td>
    <td>ORP001</td>
</tr>

<tr>
    <td></td>
    <td>Power & Status</td>
    <td>hp& ON/OFF/ERROR</td>
    <td>P001 to P005 in UF and P001 & P002 in RO System</td>
</tr>

</table>

