<h3>Calendar</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        The purpose of calendar is to check the values of devices and pumps
        on the specific date you want to compare current values of devices
        and pumps. You can select any date between the beginning and end of
        project. But, the data after the end of project will not be provided.
        The project started on May 2026.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/calendar.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 4. Calendar
        </p>

    </div>

</div>