<h3>Pumps</h3>

<p>
In this system, different types of pumps are applied for different purposes such as raw water feed pumps (P001), UF feed pump (P002), backwashing pump (P003), cleaning feed pump (P004) and CIP pump (P005) in UF system and RO feed pump (P001) and RO high pressure pump (P002) in RO system.
</p>


<p>
In the flow diagram, different pumps provide both value of power in key-value table and ON/OFF/ERROR status in green/red/orange color respectively.
</p>

<table class="table table-bordered">

<tr>
    <th class="text-center">Pump</th>
    <th class="text-center">Function</th>
</tr>

<tr>
    <td>P001</td>
    <td>Feed Pump</td>
</tr>

</table>

<!-- =========================
     IMAGE SECTION
========================= -->
<div class="row">

    <!-- IMAGE 1 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/P001.avif"
             class="img-fluid manual-img">

        <p>
            Figure 1. Feed Pump
        </p>

    </div>

    <!-- IMAGE 2 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/P003.jpg"
             class="img-fluid manual-img">

        <p>
            Figure 2. Backwashing Pump
        </p>

    </div>

    <!-- IMAGE 3 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/pump.png"
             class="img-fluid manual-img">

        <p>
            Figure 3. Feed pump in diagram
        </p>

    </div>

</div>