<h3>Time Interval Options</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

       <p>
            Default graph represent all data up to current time Today with 5 minutes interval.
           Time Interval Buttons support to manipulate the data in the graphs. There are 5 buttons
           to manipulate time interval. When the different buttons are selected, the time interval
           values on X-axis of the graph will change and the green line will present the values at specific time interval.
        </p>

        <ul class="custom-bullets">

            <li>
                <b>30 minutes</b>: It means 30 minutes interval. The values at every 30 minutes starting
                from 00:00 hour or starting time to collect data on each day are considered to display in the graph.
                (eg. 00:00, 00:30, 01:00, etc or 00:05, 00:035, 01:05, etc))
            </li>

            <li>
                <b>One hour</b>: It means one hour interval. The values at every one hour starting
                from 00:00 hour or starting time to collect data on each day are considered to display in the graph.
                (eg. 00:00, 01:00, 02:00, etc or (00:05, 01:05, 02:05, etc)
            </li>

            <li>
                <b>One day</b>: It means one day interval. The values at every one day (24 hours)
                starting from 00:00 hour on each day are considered to display in the graph.
                (eg. 2025/10/11 00:00, 2025/10/12 00:00, 2025/10/13 00:00, etc or 2025/10/11 02:00, 2025/10/12 02:00, 2025/10/13 02:00, etc)
            </li>

            <li>
                <b>One week</b>: It means one week interval. The values at every seven days starting
                from 00:00 hour on each day are considered to display in the graph.
            </li>

            <li>
                <b>One month</b>: It means one month interval. The values at every one month (30 days)
                starting from 00:00 hour on each day are considered to display in the graph.
            </li>

        </ul>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 19. Time Interval Options
        </p>

    </div>
</div>


<!-- =========================
     IMAGE SECTION
========================= -->
<div class="row">

    <!-- IMAGE 1 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_default.png"
             class="img-fluid manual-img">

        <p>
            Figure 20. Default graph with 5 minutes interval
        </p>

    </div>

    <!-- IMAGE 2 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_30m.png"
             class="img-fluid manual-img">

        <p>
            Figure 21. Graph with 30 minutes interval
        </p>

    </div>

    <!-- IMAGE 3 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_1h.png"
             class="img-fluid manual-img">

        <p>
            Figure 22. Graph with one hour interval
        </p>

    </div>

</div>

<div class="row">

    <!-- IMAGE 1 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_1d.png"
             class="img-fluid manual-img">

        <p>
            Figure 23. Graph with one day interval
        </p>

    </div>

    <!-- IMAGE 2 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_1w.png"
             class="img-fluid manual-img">

        <p>
            Figure 24. Graph with one week interval
        </p>

    </div>

    <!-- IMAGE 3 -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/time_interval_options_1mo.png"
             class="img-fluid manual-img">

        <p>
            Figure 25. Graph with one week interval
        </p>

    </div>

</div>