<h3>All Valve Ststus</h3>

<div class="row align-items-start">

    <!-- LEFT: TEXT -->
    <div class="col-md-8">

        <p>
        Valve status table present the status of 13 auto-control valves. If the valve is ON,
        the status of valve is displayed in green power icon.  If the valve is OFF, the status
        of valve is displayed in red power icon.  If the valve has error, the status of valve is displayed in orange power icon.
        </p>

    </div>

    <!-- RIGHT: IMAGE -->
    <div class="col-md-4 text-center">

        <img src="/static/images/manuals/system_valves.png"
             class="img-fluid">

        <p class="mt-2">
            Figure 28. Status of all Valves
        </p>

    </div>